# Ignore virtual environment
env

# Ignore .env file
.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore IDE settings
.vscode/

# Ignore operating system specific files
.DS_Store
Thumbs.db

db.sqlite3
